<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
        namespace="com.cyy.chinamobile.tianditu.point.dao.mapper.PointCountMapper">
    <resultMap id="BaseResultMap"
               type="com.cyy.chinamobile.tianditu.microservice.domain.pointcount.po.PointCount">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="count_general_hospital" property="countGeneralHospital" jdbcType="INTEGER"/>
        <result column="count_specialist_hospital" property="countSpecialistHospital" jdbcType="INTEGER"/>
        <result column="province_code" property="provinceCode" jdbcType="VARCHAR"/>
        <result column="province_name" property="provinceName" jdbcType="VARCHAR"/>
        <result column="city_code" property="cityCode" jdbcType="VARCHAR"/>
        <result column="city_name" property="cityName" jdbcType="VARCHAR"/>
        <result column="lat" property="lat" jdbcType="DECIMAL"/>
        <result column="lon" property="lon" jdbcType="DECIMAL"/>
    </resultMap>
    <sql id="Base_Column_List">
		id, code,name,count_specialist_hospital,count_general_hospital,province_name, province_code, city_name,city_code, lat, lon
	</sql>
    <select id="getPointCounts" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from point_count
    </select>
    <select id="getAllProvincePointCounts" resultMap="BaseResultMap">
        SELECT `name`,`code`,count_specialist_hospital,count_general_hospital ,lon,lat FROM point_count WHERE province_code is null
    </select>
    <select id="getAllCityPointCounts" resultMap="BaseResultMap">
        SELECT `name`,`code`,province_code,count_specialist_hospital,count_general_hospital,lon,lat  FROM point_count WHERE province_code is NOT NULL AND city_code is NULL
    </select>
    <select id="getAllAreaPointCounts" resultMap="BaseResultMap">
        SELECT `name`,`code`,province_code,city_code,count_specialist_hospital,count_general_hospital,lon,lat  FROM point_count WHERE province_code is NOT NULL AND city_code is NOT NULL
    </select>


</mapper>