<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
        namespace="com.cyy.chinamobile.tianditu.point.dao.mapper.PointMapper">
    <resultMap id="BaseResultMap"
               type="com.cyy.chinamobile.tianditu.microservice.domain.point.po.Point">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="internet_site" property="internetSite" jdbcType="VARCHAR"/>
        <result column="lat" property="lat" jdbcType="VARCHAR"/>
        <result column="lon" property="lon" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="is_top_three_hospital" property="isTopThreeHospital" jdbcType="BIT"/>
        <result column="region" property="region" jdbcType="VARCHAR"/>
        <result column="local_site_name" property="localSiteName" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, address, phone, internet_site, lat, lon, type, is_top_three_hospital, region, local_site_name
    </sql>
    <select id="selectAllPoints" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from point
        where
          1=1
        <if test="point.pointName != null and point.pointName !=''">
           and name like concat('%',#{point.pointName},'%')
        </if>
    </select>
    <select id="countPoints" resultType="Integer">
        select count(0)
        from point
        where
        1=1
        <if test="point.pointName != null and point.pointName !=''">
            and name like concat('%',#{point.pointName},'%')
        </if>
    </select>
    <select id="getPointsLikeName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from point p
        where p.name like concat('%',#{pointName},'%')
    </select>
    <select id="selectPointById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from point
        where
        id in
        <foreach collection="list" item="pointId" open="(" separator="," close=")">
            #{pointId}
        </foreach>
    </select>
    <insert id="addPoint" parameterType="com.cyy.chinamobile.tianditu.microservice.domain.point.vo.PointVo"
            useGeneratedKeys="true" keyProperty="id">
        insert into
            point (name, address, phone, internet_site, lat, lon, type, is_top_three_hospital, region, local_site_name)
        values (#{point.name}, #{point.address}, #{point.phone}, #{point.internetSite}, #{point.lat}, #{point.lon},
                #{point.type}, #{point.isTopThreeHospital}, #{point.region}, #{point.localSiteName})
    </insert>
    <delete id="deletePoint" parameterType="map">
        delete from point where id in
        <foreach collection="list" item="pointId" open="(" separator="," close=")">
            #{pointId}
        </foreach>
    </delete>
    <update id="updatePoint" parameterType="com.cyy.chinamobile.tianditu.microservice.domain.point.vo.PointVo">
        update point
        <set>
            <if test="point.name != null">
                name = #{point.name},
            </if>
            <if test="point.address != null">
                address = #{point.address},
            </if>
            <if test="point.phone != null">
                phone = #{point.phone},
            </if>
            <if test="point.internetSite != null">
                internet_site = #{point.internetSite},
            </if>
            <if test="point.localSiteName != null">
                local_site_name = #{point.localSiteName},
            </if>
            <if test="point.lat != null">
                lat = #{point.lat},
            </if>
            <if test="point.lon != null">
                lon = #{point.lon},
            </if>
            <if test="point.type != null">
                type = #{point.type},
            </if>
            <if test="point.isTopThreeHospital != null">
                is_top_three_hospital = #{point.isTopThreeHospital},
            </if>
            <if test="point.region != null">
                region = #{point.region},
            </if>
        </set>
        where
        1=1
        <if test="point.id != null">
            and id = #{point.id}
        </if>
    </update>
    <select id="getPointsByMap" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from point
        where
        lat <![CDATA[>=]]> #{mLat}
        and
        lat <![CDATA[<=]]> #{vLat}
        and
        lon <![CDATA[>=]]> #{mLng}
        and
        lon <![CDATA[<=]]> #{vLng}
        and
        type = #{type}
        <!--type in
        <foreach collection="types" index="index" item="type" open="(" separator="," close=")">
            #{type}
        </foreach>-->

    </select>

</mapper>